<nav
    class='fixed flex items-center justify-center h-16 w-full bg-gray-900 rounded transform -translate-x-4 -translate-y-4'>
    <div class='static flex w-full justify-center items-center h-16 max-w-screen-md'>
        <a href="/">
            <img width="50px" style="aspect-ratio: 1 / 1;" src="/public/images/icon.png" alt="Home icon">
        </a>
        <form id='searchForm' class='flex'>
            <input type="text" placeholder="Search..." name='searchBox'
                class='bg-gray-500 text-gray-100 h-5/6 w-5/6 rounded-lg p-1'>
            <select name="category" id="">
                <option value="song">Songs</option>
                <option value="artist">Artists</option>
                <option value="album">Albums</option>
            </select>
        </form>
    </div>
</nav>